{% extends '__base.html' %}
{% load i18n %}
{% load zinnia static comments %}
{% load thumbnail %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />

{% endblock stylesheets %} 


{% block title %}
    {{ entry.title }} - {{ block.super }}
{% endblock title %}

{% block banner %}
    {% include "posyhub/_banner.html" with page_title="Blog Detail Page" %}
{% endblock banner %}

{% block content %}
    <section class="banner-bottom-w3ls-agileinfo py-5">
      <!--/blog-->
      <div class="container py-md-3">
        <div class="row inner-sec-wthree-agileits">
          <div class="col-lg-8 blog-sp">
            <article class="blog-x row">
              <div class="blog-img w3-agile-grid">
                  {% if entry.image %}
                  {% thumbnail entry.image "1600x800" as im %}
                    <img src="{{ im.url }}" alt="{{ object.image_caption|default:object.title }}" itemprop="contentUrl" class="img-fluid">
                  {% endthumbnail %}
                  {% endif %}
              </div>

              <div class="blog_info">
                <h1>
                  {{ entry.title|widont }}
                </h1>
                {% with authors=object.authors.all %}
                  {% if authors|length %}
                    {% for author in authors %}
                      <p>By
                        <a href="{{ author.get_absolute_url }}" 
                          class="user-blog" 
                          rel="author" 
                          title="{% blocktrans %}Show all {{ author }}'s entries{% endblocktrans %}" 
                          itemprop="url">{{ author }}
                        </a>
                      </p>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  {% else %}
                    {% trans "Written on" context "on date" %}
                  {% endif %}
                {% endwith %}
                

                <p>{{ object.content|safe|linebreaks }} </p>
                
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox"></div>
            
              </div>
              <div class="clearfix"></div>
            </article>
            
          </div>
          {% include "posyhub/_entry_detail_sidebar.html" %}
          

        </div>
      </div>
    </section>
{% endblock content %}

{% block extra_js %}
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bfc60847b6488af"></script>

{% endblock extra_js %}