{% extends "__base.html" %}
{% load i18n %}
{% load zinnia static %}


{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'about/css/blog.css' %}" type="text/css" rel="stylesheet" media="all">
{% endblock stylesheets %}
    
{% block banner %}
    {% include "posyhub/_banner.html" with page_title="Blog Page" %}
{% endblock banner %}
{% block meta-description %}
    {% spaceless %}

        {% if category %}
            {% if category.description %}
                {{ category.description|striptags|safe }}
            {% else %}
                {% blocktrans with object=category %}The last entries categorized under {{ object }}{% endblocktrans %}
            {% endif %}
        {% endif %}

        {% if tag %}
            {% blocktrans with object=tag %}The last entries tagged with {{ object }}{% endblocktrans %}
        {% endif %}

        {% if author %}
            {% blocktrans with object=author %}The last entries by {{ object }}{% endblocktrans %}
        {% endif %}

    {% endspaceless %}
{% endblock meta-description %}

{% block title %}
    
        {% if category %}
            {% blocktrans with object=category %}Category {{ object }}{% endblocktrans %}
        {% endif %}

        {% if tag %}
            {% blocktrans with object=tag %}Tag {{ object }}{% endblocktrans %}
        {% endif %}

        {% if author %}
            {% blocktrans with object=author %}Author {{ object }}{% endblocktrans %}
        {% endif %} - {{ block.super }}

{% endblock title %}

{% block content %}
    <!--/blog-->
	<section class="services">
            <div class="container">
                <h3 class="tittle_w3ls">Latest Blog Posts</h3>
                <div class="row inner-sec-w3layouts-agileinfo">
                    <div class="col-lg-8 blog-sp"  data-aos="zoom-in">
                        {% for object in object_list|slice:":2" %}
                            
                            {% with forloop.counter as counter %}
                                {% include "posyhub/_blog_list.html" with post=object counter=counter %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                    
                    {% for object in object_list|slice:"2:4" %}
                        {% include "posyhub/_blog_list2.html" with post=object %}
                    {% endfor %}
                        
                    <div class="col-lg-8 blog-sp" data-aos="zoom-in">
                        {% for object in object_list|slice:"4:6" %}
                            {% with forloop.counter as counter %}
                                {% include "posyhub/_blog_list.html" with post=object counter=counter %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                    {% if is_paginated %}
                        {% zinnia_pagination page_obj %}
                    {% endif %}
                    
                </div>
    
            </div>
        </section>
        <!--//blog-->
{% endblock content %}