{% extends "__base.html" %}
{% load i18n %}

{% block title %}{% trans "Password required" %}{% endblock title %}


{% block banner %}
  {% include 'posyhub/_banner.html' %}
{% endblock banner %}
  
{% block content %}

<section class="banner-bottom-w3ls-agileinfo py-5">
  <!--/blog-->
  <div class="container py-md-3">
    <div class="row inner-sec-wthree-agileits">
      <div class="col-lg-8 blog-sp">
        <article class="blog-x row">
          <div class="blog_info">
            <h1>
              {% trans "Password required" %}
            </h1>
            {% if error %}
              <p class="alert alert-danger">
                {% trans "The password provided is not valid. Please try again." %}
              </p>
            {% else %}
            
            <p>
              {% trans "You need to provide a password to view this entry." %}
            </p>
            {% endif %}
            <form action="" method="post">
              {% csrf_token %}
              <label for="id_password" class="sr-only">Password</label>
              <input class="form-control" id="id_password" type="password" name="entry_password" placeholder="Enter a password here" required="">
              <br>
              <div class="button">

                <input class="btn btn-danger float-right" type="submit" value="Validate password">

              </div>
            </form>
          </div>
          <div class="clearfix"></div>
        </article>
      </div>
      {% include "posyhub/_entry_detail_sidebar.html" %}

    </div>
  </div>
</section>
{% endblock content %}
