{% extends "__base.html" %}


{% block banner %}
  {% include "posyhub/_banner.html" %}
{% endblock banner %}

{% block title %}
  Server Error
{% endblock title %}
{% block content %}
  <!--/404-->
	<section class="services">
		<div class="container">
			<div class="inner-sec-w3layouts-agileinfo">
				<div class="error-404" data-aos="fade-down">
					<h5>Server Error</h5>
					<p>Oops ! There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience.</p>
					<a class="b-home" href="{% url 'home' %}">Back to Home</a>
				</div>

			</div>
		</div>
	</section>
	<!--//404-->
{% endblock content %}