{% load static i18n %}
<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126618915-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-126618915-2');
  </script>

  {% block meta_tags %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="{% block meta-keywords %}posyhub,internet marketing,content marketing,SEO,Search Engine Optimization,web development and design, build a website,grow your business{% endblock meta-keywords %}" />

	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
    <meta name="description" content="{% block meta-description %}{% endblock meta-description %}" />
  
  {% endblock meta_tags %}

  <title>{% block title %}{% trans 'Posyhub' %}{% endblock title %}</title>
    {% block stylesheets %}
      <link rel="icon" type="image/x-icon" sizes="32x32" href="{% static 'about/images/favicon.ico' %}" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	    <link rel="stylesheet" href="{% static 'about/css/flexslider.css' %}" type="text/css" media="screen" property="" />
      <link rel="stylesheet" href="{% static 'about/css/style.css' %}" type="text/css" media="all" /> <!-- Style-CSS -->
      <link href="{% static 'about/css/simpleLightbox.css' %}" rel='stylesheet' type='text/css' /> 
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous"> <!-- Font-Awesome-Icons-CSS -->
      <!-- //css files -->
      <link href="//fonts.googleapis.com/css?family=Poppins:100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <!--//web font-->
    {% endblock stylesheets %}
  {% block extra_head %}{% endblock extra_head %}
</head>
<body>
  <header>
    <div class="header_top" id="home">
      {% include "posyhub/_navigation.html" %}
    </div>
  </header>

  {% block banner %}{% endblock banner %}
  {% block content %}{% endblock content %}

  <footer>
    {% include "posyhub/_footer.html" %}
  </footer>
  
  <div class="copyright">
    {% include "posyhub/_copyright.html" %}
  </div>
  
  {% block modal %}
      
  {% endblock modal %}
  {% block javascript %}
      {% include "posyhub/_js.html" %}
  {% endblock javascript %}

  
  {% block extra_js %}
    
  {% endblock extra_js %}
    
</body>
</html>