{% load i18n %}

  <div class="single-gd">

      {% for category in categories %}
        
      
        <div>
          <p>
              <a href="{{ category.get_absolute_url }}"
              title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}">{{ category }}</a>
          <span class="badge badge-info">{% blocktrans count entry_count=category.count_entries_published %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktrans %}</span>
          </p>
        </div>
      {% empty %}
        <p><strong>No categories yet.</strong></p>
      {% endfor %}
    </div>