{% load i18n %}

  <div class="single-gd">
      <h4>Categories</h4>
      {% for category in categories %}
        
      
        <div>
          <h5>
              <a href="{{ category.get_absolute_url }}"
              title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}">{{ category }}</a>
          <small>{% blocktrans count entry_count=category.count_entries_published %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktrans %}</small>
          </h5>
        </div>
      {% empty %}
        <p><strong>No categories yet.</strong></p>
      {% endfor %}
    </div>