{% extends "__base.html" %}

{% block title %}
    About Us - {{ block.super }}
{% endblock title %}
{% block banner %}
    {% include "posyhub/_banner.html" with page_title="About Page" %}
{% endblock banner %}

{% block content %}
  <!-- about -->
  <section class="about py-5">
    <div class="container py-md-3 agile-info">
      <h2 class="heading mb-md-5 mb-4">About Us</h2>
      <div class="row about-grids agile-info">
        <div class="col-lg-6 w3-agile-grid mb-lg-0 mb-5">
          <p>Cras blandit nibh ut pretium elementum. Duis bibendum convallis nun ca dictum. Quisquen ac ipsum porta, ultrices metus sit amet,
          curs in nisl. Duis aliquet varius sem sit amet convallis nun ca dictum.</p>
          <p class="mt-2 mb-3">Cras blandit nibh ut pretium elementum. Duis bibendum convallis nun ca dictum. Quisquen ac ipsum porta, ultrices metus sit amet,
          curs in nisl. Duis aliquet varius sem sit amet. convallis nun ca dictum amet. Quisquen ac ipsum porta, ultrices metus sit amet,
            curs in nisl. Duis aliquet varius sem sit amet.</p>
          <a href="about.html">Read More </a>
        </div>
        <div class="col-lg-3 w3-agile-grid col-md-4 pr-md-0">
          <h3 class="margin">15+ years experience</h3>
          <h3 class="black">Valuable Services</h3>
        </div>
        <div class="col-lg-3 w3-agile-grid col-md-4 mt-md-0 mt-4">
          <h3 class="margin green">Experienced Professionals</h3>
          <h3 class="grey">Management Solutions</h3>
        </div>
      </div>
    </div>
  </section>
  <!-- //about -->
{% endblock content %}