{% extends "__base.html" %}

{% load contact_tags %}
{% load widget_tweaks %}

{% block title %}
    Contact Us - {{ block.super }}
{% endblock title %}

{% block banner %}
    {% include "posyhub/_banner.html" %}
{% endblock banner %}

{% block content %}
  {% get_company_detail as detail %}
    <section class="contact py-5">
      <div class="container">
        <h2 class="heading mb-lg-5 mb-4">Contact Us</h2>
        <div class="row contact-grids w3-agile-grid">
          <div class="row col-md-4 col-sm-6 contact-grid1 w3-agile-grid">
            <div class="col-3 text-center">
              <i class="fas fa-envelope-open"></i>
            </div>
            <div class="col-9 p-0">
              <h4>Email</h4>
              <p><a href="mailto:{{ detail.get_emails.0 }}">{{ detail.get_emails.0 }}</a></p>
            </div>
          </div>
          <div class="row col-md-4 col-sm-6 mt-sm-0 mt-4 contact-grid1 w3-agile-grid">
            <div class="col-3 text-center">
              <i class="fas fa-phone"></i>
            </div>
            <div class="col-9 p-0">
              <h4>Call Us</h4>
              <p>{{ detail.get_phone_numbers.0 }}</p>
            </div>
          </div>
          <div class="row col-md-4 col-sm-6 mt-md-0 mt-4 contact-grid1 w3-agile-grid">
            <div class="col-3 text-center">
              <i class="fas fa-map-marker"></i>
            </div>
            <div class="col-9 p-0">
              <h4>Address</h4>
              <p>{{ detail.get_addresses.0 }}</p>
            </div>
          </div>
        </div>
        <div class="row contact_full w3-agile-grid">
          <div class="col-md-7 contact-us w3-agile-grid">
            <form action="" method="post">
              <div class="row">
                <div class="col-md-6 styled-input">
                  {% render_field form.name placeholder=form.name.label required="" %}
                </div>
                <div class="col-md-6 styled-input">
                  {% render_field form.email placeholder=form.email.label %}
                </div> 
              </div>
              <div class="styled-input">
                {% render_field form.phone_no placeholder=form.phone_no.label required="" %}
              </div>
              <div class="styled-input">
                {% render_field form.message placeholder=form.message.label required="" %}
              </div>
              <div class="click mt-3">
                <input type="submit" value="SEND">
              </div>
            </form>
          </div>
          <div class="col-md-5 map">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1398183.40180821!2d7.103180750702041!3d46.80771447968857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c64ef6f596d61%3A0x5c56b5110fcb7b15!2sSwitzerland!5e0!3m2!1sen!2sin!4v1529102870533"></iframe>
             </div>
        </div>
      </div>
    </section>
{% endblock content %}