{% extends "__base.html" %}

{% load thumbnail %}

{% block title %}
    {{ service.name }} - Our Services - {{ block.super }}
{% endblock title %}
{% block banner %}
    {% include "posyhub/_banner.html" %}
{% endblock banner %}

{% block content %}
  <!-- about -->
  <section class="about py-5">
    <div class="container py-md-3 agile-info">
      <h1 class="heading mb-md-5 mb-4 h2 text-center">{{ service.name }}</h1>
      <div class="row about-grids agile-info">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 w3-agile-grid mb-lg-0 mb-5">
            
            {% if service.image %}
              {% thumbnail service.image "1000x800" upscale=False as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ service.name }}" itemprop="contentUrl" class="img-fluid">
              {% endthumbnail %}
            {% endif %}
                
          <p>{{ service.description|safe|linebreaks }}</p>          
        </div>
      </div>
    </div>
  </section>
  <!-- //about -->
{% endblock content %}