{% extends "__base.html" %}

{% load services_tags %}

{% block title %}
    Our services - {{ block.super }}
{% endblock title %}

{% block banner %}  
  {% include "posyhub/_banner.html" %}
{% endblock banner %}

{% block content %}
	<!--//banner-->
	<section class="banner-bottom">
		<div class="container marketing">
      <h3 class="text-center">Our Services</h3>
			<div class="row inner-sec-w3layouts-agileinfo">
				
        {% for service in service_list %}
          {% include 'services/_service.html' with service=service %}
        {% endfor %}
          
			</div>

		</div>
		<!-- /.row -->
		</div>
	</section>

{% endblock content %}