{% load static zinnia %}
<aside class="col-lg-4 single-left">
  <div class="single-gd">
    <img src="{% static 'about/images/a3.jpg' %}" class="img-fluid" alt="">
    <h4>Sign up to our newsletter</h4>
    <form action="#" method="post">

      <input class="form-control" type="email" name="Email" placeholder="Email" required="">
      <div class="button">

        <input class="form-control" type="submit" value="Subscribe">

      </div>
    </form>
  </div>
  
  {% get_similar_entries 5 %}
  {% get_random_entries 5 %}
  {% get_recent_entries 3 %}
  {% get_categories %}

</aside>