{% load zinnia static %}
{% load about_tags services_tags contact_tags addendum_tags %}

<div class="container">
  <div class="row footer-top-w3layouts-agile">
    <div class="col-lg-3 footer-grid" data-aos="zoom-in">
      <div class="footer-title">
        <h2>About Us</h2>
      </div>
      {% get_company_description as about_company %}
      <div class="footer-text">
        {{ about_company|truncatewords_html:"20"|safe }}
      </div>
    </div>
    <div class="col-lg-3 footer-grid" data-aos="zoom-in">
      <div class="footer-title">
        <h3>Contact Us</h3>
      </div>
      {% get_company_detail as comp %}
      <div class="footer-office-hour">
        <ul>
          <li class="hd">Address :</li>
          <li>{{ comp.get_addresses.0 }}</li>

        </ul>
        <ul>
          <li class="hd">Phone:{{ comp.get_phone_numbers.0 }}</li>
          <li class="hd">Email:
            <a href="mailto:{{ comp.get_emails.0 }}">{{ comp.get_emails.0 }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3 footer-grid" data-aos="zoom-in">
      
    </div>
    <div class="col-lg-3 footer-grid" data-aos="zoom-in">
      <div class="footer-title">
        <h3>Subscribe</h3>
      </div>
      <p>Subscribe to our newsletter for innovative ways of how to grow your business and increase sales/profit</p>
      <form action="#" method="post" class="newsletter">
        <input class="email" type="email" placeholder="Your email..." required="">
        <button class="btn1">
          <i class="far fa-envelope"></i>
        </button>
      </form>
      <div class="clearfix"></div>
    </div>

  </div>

</div>