<!-- banner -->
<section class="banner" id="home">
  <div class="callbacks_container">
    <ul class="rslides" id="slider3">
      <li>
        <div class="slider-info bg1 w3-agile-grid">
          <div class="bs-slider-overlay">
          <div class="banner-text container agile-info">
            <h5 class="tag text-center mb-3 text-uppercase">We are professional </h5>
            <h1 class="movetxt text-center agile-title text-uppercase">Management Services</h1>
            <h2 class="movetxt text-center mb-3 agile-title text-uppercase">Best Solution </h2>             
            <a class="bt mt-4 text-capitalize" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button"> read more
            </a>
          </div>
          </div>
        </div>
      </li>
      <li>
        <div class="slider-info bg2 w3-agile-grid">
          <div class="bs-slider-overlay">
          <div class="banner-text container agile-info">
            <h5 class="tag text-center mb-3 text-uppercase">We are unique</h5>
            <h4 class="movetxt text-center agile-title text-uppercase">Capital Management </h4>
            <h4 class="movetxt text-center mb-3 agile-title text-uppercase">Better Service </h4>  
            <a class="bt mt-4 text-capitalize" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button"> read more
            </a>
          </div>
          </div>
        </div>
      </li>
      <li>
        <div class="slider-info bg3 w3-agile-grid">
          <div class="bs-slider-overlay">
          <div class="banner-text container agile-info">
            <h5 class="tag text-center mb-3 text-uppercase">We are creative</h5>
            <h4 class="movetxt text-center agile-title text-uppercase">Creative Solutions </h4>
            <h4 class="movetxt text-center mb-3 agile-title text-uppercase">High Quality </h4>  
            <a class="bt mt-4 text-capitalize" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button"> read more
            </a>
          </div>
          </div>
        </div>
      </li>
      <li>
        <div class="slider-info bg4 w3-agile-grid">
          <div class="bs-slider-overlay">
          <div class="banner-text container agile-info">
            <h5 class="tag text-center mb-3 text-uppercase">We make awesome designs</h5>
            <h4 class="movetxt text-center agile-title text-uppercase">High Quality Designs</h4>
            <h4 class="movetxt text-center mb-3 agile-title text-uppercase">Best Solution </h4> 
            <a class="bt mt-4 text-capitalize" href="#" data-toggle="modal" data-target="#exampleModalCenter" role="button"> read more
            </a>
          </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- //banner -->