{% load static %}
<!-- js -->
    	<!-- js -->
	<script type="text/javascript" src="{% static 'about/js/jquery-2.2.3.min.js' %}"></script>
	<!-- //js -->
	<!-- simpleLightbox -->
	<script src="{% static 'about/js/simpleLightbox.js' %}"></script>
	<script>
		$('.proj_gallery_grid a').simpleLightbox();
	</script>
	<!-- //simpleLightbox -->
	<!-- flexSlider -->
	<script defer src="{% static 'about/js/jquery.flexslider.js' %}"></script>
	<script type="text/javascript">
	 
	  $(window).load(function(){
		$('.flexslider').flexslider({
		  animation: "slide",
		  start: function(slider){
			$('body').removeClass('loading');
		  }
		});
	  });
	</script>
  
	<!-- //flexSlider -->

	<!-- stats -->
	<script src="{% static 'about/js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'about/js/jquery.countup.js' %}"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->
	<!-- /js files -->
	<link href="{% static 'about/css/aos.css' %}" rel='stylesheet prefetch' type="text/css" media="all" />
	<link href="{% static 'about/css/aos-animation.css' %}" rel='stylesheet prefetch' type="text/css" media="all" />
	<script src="{% static 'about/js/aos.js' %}"></script>
	<script src="{% static 'about/js/aosindex.js' %}"></script>
	<!-- //js files -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{% static 'about/js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'about/js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
    <!-- //js -->   
   