{% load static %}
<!-- js -->
    
    <script type="text/javascript" src="{% static 'about/js/bootstrap.js' %}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
    <!-- //js -->   
    
    <!-- Stats-Number-Scroller-Animation-JavaScript -->
        <script src="{% static 'about/js/waypoints.min.js' %}"></script> 
        <script src="{% static 'about/js/counterup.min.js' %}"></script> 
        <script>
            jQuery(document).ready(function( $ ) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1000
                });
            });
        </script>
    <!-- //Stats-Number-Scroller-Animation-JavaScript -->
    
    <!-- Banner Responsiveslides -->
    <script src="{% static 'about/js/responsiveslides.min.js' %}"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- // Banner Responsiveslides -->

    <!-- start-smoth-scrolling -->
    <script src="{% static 'about/js/SmoothScroll.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'about/js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'about/js/easing.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){     
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
                };
            */
                                
            $().UItoTop({ easingType: 'easeOutQuart' });
                                
            });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- start-smoth-scrolling -->

    <!-- FlexSlider-JavaScript -->
    <script defer src="{% static 'about/js/jquery.flexslider.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            SyntaxHighlighter.all();
                });
                $(window).load(function(){
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function(slider){
                        $('body').removeClass('loading');
                    }
            });
        });
    </script>
    <!-- //FlexSlider-JavaScript -->