{% load addendum_tags static %}
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="{% url 'home' %}">
    <i class="fab fa-digital-ocean"></i> posyhub</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto tp-nav text-center">
      <li class="nav-item {% if active == 'home' %}active{% endif %}">
        <a class="nav-link" href="{% url 'home' %}">Home
            {% if active == 'home' %}
              <span class="sr-only">(current)</span>
            {% endif %}
          </a>
        </li>
        <li class="nav-item {% if active == 'about' %}active{% endif %}">
          <a class="nav-link" href="{% url 'about:about-us' %}">About

            {% if active == 'about' %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          <li class="nav-item {% if active == 'blog' %}active{% endif %}">
            <a class="nav-link" href="/blog">Blog
              {% if active == 'blog' %}
                <span class="sr-only">(current)</span>
                {% endif %}
              </a>
            </li>
            
      <li class="nav-item {% if active == 'services' %}active{% endif %}">
        <a class="nav-link" href="{% url 'services:services_list' %}">Services
          {% if active == 'services' %}
            <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>
      <li class="nav-item {% if active == 'contact' %}active{% endif %}">
        <a class="nav-link" href="{% url 'contact:contact-us' %}">Contact
          {% if menu == 'contact' %}
            <span class="sr-only">(current)</span>
          {% endif %}
        </a>
      </li>
    </ul>
    <form action="#" method="post" class="form-inline my-2 my-lg-0 search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search here..." name="Search" required="">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>