{% extends "../__base.html" %}
{% load zinnia %}
{% load static about_tags addendum_tags services_tags %}
{% load i18n %}

{% block banner %}
    {% include "./_home_banner.html" %}
{% endblock banner %}

{% block content %}
<section class="banner-bottom">
  <div class="container">

    <!-- Three columns of text below the carousel -->
    <div class="row inner-sec-w3layouts-agileinfo">

      <div class="col-lg-5 bt-bottom-info" data-aos="fade-right">
        <h5>{% snippet "home:what_we_do" %}We help our customer to build Digital World{% endsnippet %}</h5>

      </div>
      <div class="col-lg-7 bt-bottom-info" data-aos="fade-left">
        {% get_company_description as about_comp %}
        {{ about_comp|truncatewords_html:"45"|safe }}
        <a href="{% url 'about:about-us' %}" title="Get to know more about us" itemprop="about us" rel="link">Learn more</a>
      </div>
    </div>
    <h2 class="text-center">Blog</h2><br>
    <div class="row inner-sec-w3layouts-agileinfo">
      {% get_recent_entries 6 "posyhub/_home_recent_entries.html" %}
    </div>
  </div>
  <!-- /.row -->
  </div>
</section>
<!---->

<!--/services-->
<section class="services">
  <div class="container">
    <h3 class="tittle_w3ls">Services</h3>
    <div class="row inner-sec-w3layouts-agileinfo">
      {% get_services 4 as services %}
      <div class="col-lg-4 grid_info_main" data-aos="flip-left">
        
        {% for service in services|slice:":2" %}
          <div class="grid_info {% cycle '' 'second' %}">
          <div class="icon_info">
            <span class="icon">
              <i class="fas {% cycle 'fa-laptop' 'fa-search' %}"></i>
            </span>
            <h5>{{ service.name }}</h5>
            <p>{{ service.description|truncatewords_html:"20"|safe }}</p>
          </div>
        </div>
        {% endfor %}
          
      </div>
      <div class="col-lg-4 grid_info_main mid" data-aos="flip-down">
        <img src="{% static 'about/images/hello.gif' %}" class="img-responsive" alt="marketing servicex">
      </div>
      <div class="col-lg-4 grid_info_main" data-aos="flip-right">
          {% for service in services|slice:"2:" %}
          <div class="grid_info {% cycle '' 'second' %}">
          <div class="icon_info">
            <span class="icon">
              <i class="fas {% cycle 'fa-users' 'fa-bullhorn' %}"></i>
            </span>
            <h5>{{ service.name }}</h5>
            <p>{{ service.description|truncatewords_html:"20"|safe }}</p>
          </div>
        </div>
        {% endfor %}
        
      </div>


    </div>
  </div>
</section>
{% endblock content %}