{% extends "../__base.html" %}

{% load static about_tags addendum_tags services_tags %}
{% load i18n %}
{% block banner %}
    {% include "./_home_banner.html" %}
{% endblock banner %}

{% block content %}
  <!-- about -->
  <section class="about py-5">
    <div class="container py-md-3">
      <h3 class="heading mb-md-5 mb-4">{% trans "About Us" %} </h3>
      <div class="row about-grids agile-info">
        <div class="col-lg-6 mb-lg-0 w3-agile-grid mb-5">
          <p>
            {% get_company_description as description %} 
            
              {{ description|truncatewords:"50" }}
            
          </p>
          <a href="{% url 'about:about-us' %}">{% trans "Read More" %}  </a>
        </div>
        <div class="col-lg-3 col-md-4 w3-agile-grid pr-md-0">
          <h3 class="margin">{% snippet 'service1' %}15+ years experience{% endsnippet %}</h3>
          <h3 class="black">{% snippet 'service2' %}Valuable Services{% endsnippet %}</h3>
        </div>
        <div class="col-lg-3 col-md-4 w3-agile-grid mt-md-0 mt-4">
          <h3 class="margin green">{% snippet 'service3' %}Experienced Professionals{% endsnippet %}</h3>
          <h3 class="grey">{% snippet 'service4' %}Management Solutions{% endsnippet %}</h3>
        </div>
      </div>
    </div>
  </section>
  <!-- //about -->
  
  <!-- how we work -->
  <section class="work">
    <div class="work-layer py-5">
    <div class="container py-md-3">
      <h3 class="heading mb-lg-5 mb-4">How We Work</h3>
      <div class="row join agile-info">
        <div class="col-md-3 col-sm-6 steps-reach w3-agile-grid">
          <span class="fab fa-algolia"></span>
          <h4>Step 1</h4>
          <p>Pretium elementum. Duis bibendum convallis nun ca dictum.</p>
          <div class="style-border">
            <img src="images/sty1.png" alt="">
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mt-sm-0 mt-5 steps-reach w3-agile-grid">
          <span class="fab fa-asymmetrik"></span>
          <h4>Step 2</h4>
          <p>Pretium elementum. Duis bibendum convallis nun ca dictum.</p>
          <div class="style-border second-border">
            <img src="images/sty2.png" alt="">
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mt-md-0 mt-5 pt-md-0 pt-sm-5 steps-reach w3-agile-grid">
          <span class="fas fa-bug" aria-hidden="true"></span>
          <h4>Step 3</h4>
          <p>Pretium elementum. Duis bibendum convallis nun ca dictum.</p>
          <div class="style-border">
            <img src="images/sty1.png" alt="">
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mt-md-0 mt-5 pt-md-0 pt-sm-5 steps-reach w3-agile-grid">
          <span class="fas fa-check-square" aria-hidden="true"></span>
          <h4>Step 4</h4>
          <p>Pretium elementum. Duis bibendum convallis nun ca dictum.</p>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- //how we work -->

  <!-- management services -->
  {% get_services 4 as services %}
  <section class="services py-5">
    <div class="container agile-info py-md-3">
      <h3 class="heading mb-lg-5 mb-4">Services</h3>
      <div class="row service_grids">
        <div class="col-lg-4 w3-agile-grid">
          {% for service in services|slice:":2" %}
            <div class="grid {% cycle '' 'mt-4'">
              {% include 'services/_service.html' with service=service%}
            </div>
          {% endfor %}  
          
        </div>
        <div class="col-lg-4 col-md-6 my-lg-0 my-5">
          <img src="{% static 'about/images/service.jpg' %}" alt="" class="img-fluid" /> 
        </div>
        <div class="col-lg-4 w3-agile-grid">
            {% for service in services|slice:"2:" %}
              <div class="grid {% cycle '' 'mt-4'">
                {% include 'services/_service.html' with service=service%}
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!-- //management services -->

  <!-- quotes -->
  <section class="quotes py-5 text-center">
    <div class="container py-md-3">
      <div class="quotes-info agile-info-quotes">
        <h3 class="mb-3">Get started: work with us</h3>
        <p>
          {% snippet 'home:call_to_action' %}Are you ready to move your business to the next level and increase your customers, sales and profit? 
          Then contact Us now{% endsnippet %}
        </p>
        <a class="bt mt-4 mr-2 text-capitalize" href="{% url 'about:about-us' %}" role="button"> read more</a>
        <a class="bt mt-4 text-capitalize start" href="{% url 'contact:contact-us' %}" role="button"> Get Started</a>
      </div>
    </div>
  </section>
  <!-- //quotes -->
{% endblock content %}